
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Static files:
/staticfiles/

# Media files:
/media/

# Poetry
.poetry/
.poetry.lock

# Virtual environment:
venv/
